/* Write your CSS code here. */
.feedback-app-container {
  background-image: linear-gradient(#ffeeee, #ffc0bb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-container {
  background-color: #ffffff;
  border-radius: 10px;
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emojis-container {
  display: flex;
  align-items: space-between;
}

.emoji-image {
  height: 100px;
  width: 100px;
}

.each-emoji-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  cursor: pointer;
}
